:root {
  --main-text-color: #000000;
  --accent-color: #f7941e;
  --secondary-color: #ffffff;
  --additional-color: #231f20;
  --main-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --bgd-color: #f1f1f2;
  --bgd-card: #FAFAFA;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--secondary-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*  ---- HEADER ---- */

.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 31px;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.22;
  padding-top: 45px;
  padding-bottom: 45px;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-btn {
  padding: 14px 20px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  background-color: transparent;
  margin-left: auto;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.hero-section .container {
  display: flex;
}

.hero-title {
  font-size: 56px;
  line-height: calc(69 / 56);
  color: var(--main-text-color);
  margin-bottom: 32px;
}

.hero-text {
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--main-text-color);
  margin-bottom: 52px;
}

.hero-btn {
  padding: 18px 24px;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--secondary-color);
}

.hero-text-wrapper {
  padding-top: 152px;
  padding-bottom: 134px;
}

.hero-section,
.about {
  background-color: var(--bgd-color);
}

.about .container {
  display: flex;
}

.about-wrapper {
  padding-top: 164px;
  padding-bottom: 104px;
  padding-left: 102px;
}

.about-title {
  font-size: 32px;
  line-height: 1.4;
  color: var(--main-text-color);
  font-weight: 400;
  margin-bottom: 23px;
}

.about-text {
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-text-color);
  text-align: justify;
  margin-bottom: 35px;
}

.about-btn {
  padding: 18px 45px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.35;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background: transparent;
}

.about-btn:focus,
.about-btn:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
}

.gifts-section {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 137px;
}
.gifts-title {
  margin-bottom: 23px;
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 32px;
line-height: 1.18;
}
.gifts-text {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.36;
  margin-bottom: 57px;
}
.gifts-cards-list{
  display: flex;
  gap: 30px;
}

.cards-title {
  font-size: 20px;
line-height: 1.2;
font-weight: 400;
color: var(--main-text-color);
margin-bottom: 74px;
}

.card-link {
  font-weight: 600;
  font-size: 14px;
line-height: 1.4;
color: var(--main-text-color);
}

.card-wrapper {
  padding: 24px;
  background-color: var(--bgd-card);
  text-align: left;
}